pkgbase = pactool
	pkgdesc = A versatile package management helper for Arch and Debian-based systems.
	pkgver = 1.0.4.1
	pkgrel = 1
	url = https://github.com/LinuxUtils/pactool
	arch = any
	license = Apache
	depends = python
	source = pactool-1.0.4.1.tar.gz::https://github.com/LinuxUtils/pactool/archive/refs/tags/v1.0.4.1.tar.gz
	sha256sums = 561f850b7652086cb0cda89fe17ccbbb9ca4dc1bb05e7d7887d45f4fb2327fc7

pkgname = pactool
